@charset "UTF8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    padding: 30px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background: rgba(0, 0, 0, 0.2);     
}
header .logoSil{
    width: 80px;
    height: auto;
    transition: 0.2s ease-in-out;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 30px;
}
header .navigation li a{
    text-decoration: none;
    color: #FFF;
    font-weight: 500;
}
header .navigation li a:hover{
    color:  #ff0157;
    font-weight: 800;
}
/* BTN PESQUISAR */
.input-box{
    position: relative;
    height: 55px;
    max-width: 60px;
    width: 100%;
    margin: 0 50px;
    border-radius: 6px;
    background-color: #fff;   
    border: 1px solid #151515;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box.open{/*JS*/
    max-width: 350px;
}
.input-box input{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 15px;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 400;
    color:#333;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.input-box.open input{/*JS*/
    padding: 0 15px 0 65px;
}
.input-box .search{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 60px;
    border-radius: 6px;
    background-color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);  
}
.search .outline{
    font-size: 30px;
    color: teal;
    transform: rotate(90deg);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);  
}
.input-box.open .outline{/*JS*/
    transform: rotate(0deg);   
}
.input-box .close{
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: #fff;
    padding: 5px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);  
}
.input-box.open .close{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-50%) rotate(180deg);  
}/* botão pesquisar */

/* HOME CARROUSEL */
.swiper {
    width: 100%;
    height: 100vh;
  }
.swiper-slide {
    text-align: center;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.swiper {
    margin-left: auto;
    margin-right: auto;
  }
/* HOME BANNER */
.swiper-slide{
    background-image: linear-gradient(to bottom, #125b62, #010125);
}
.image-banner{
  position: absolute;
  left:10%;
  top: 10%;
  z-index: 1000;
}
.image-banner img{
    width: 100%;
    height: 80%;
}
/* slider 01 = banner */
.swiper-slide{
  position: relative;
  height: 100vh;
  width: 100%;
}
.swiper-slide-1{
    width: 50%;
    height: 100vh;
}
.home-details-1{
  position: absolute;
  top: 30%;
  left: 52%;  
  z-index:1;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 40%;  
  height: 50%;
}
.swiper-slide-1{
    width: 100%;
    height: 100%;
}
.swiper-slide-1 .sub-h4,
.swiper-slide-2 .sub-h4{
  color:#fff;
  font-size: 1.3rem;
  letter-spacing: 3px; 
  text-shadow: 3px 3px 0px #000; 
  margin: 0;
  margin-top: 70px;
  z-index: 1000;
}
.swiper-slide-1 .title-h1,
.detalhes-slide-2 .title-h1{
  color: #fff;
  text-transform: uppercase;
  font-size: 6rem;
  padding: 10px;
  letter-spacing: 10px;
  text-shadow: 3px 3px 0px #000; 
  z-index: 1000;
}
/* slider 02  */
.swiper-slide-2{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%; 
}
.detalhes-slide-2{
    position: absolute;
    top: 0%;
    left: 0%;     
    width: 100%; 
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:1;
    background: rgba(0, 0, 0, 0.6);
}
.texto-slide-2 {
    background:transparent;
    padding: 50px;
}
.swiper-slide-1 .sub-h3,
.sub-h-3{
    color: #fff;
    letter-spacing: 3px;
    font-size: 1.5rem;  
    text-shadow: 3px 3px 0px #000; 
    margin: 0;
    margin-bottom: 50px;
    z-index: 1000;
}
/* seta next prev */
.home-slide .swiper-navBtn{
    height: 60px;
    width: 60px;
    color:#ff0088;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.079);
    text-shadow: 1px 2px 0px #fff; 
    transition: 0.5s;
    opacity: 1;
    visibility: visible;
}
.home-slide .swiper-navBtn::after,
.home-slide .swiper-navBtn::before{
  font-size: 2rem;
}
.home-slide .swiper-navBtn:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.home-slide .swiper-button-next{
    right: 7rem;
    transition: 0.5s;
    z-index: 1000;
}
.home-slide .swiper-button-prev{
    left: 7rem;
    transition: 0.5s;
    z-index: 1000;
}
.home-slide:hover .swiper-navBtn,
.review:hover .swiper-navBtn{
  opacity: 1;
}/*swiper button seta */

/* SOBRE-MIM */
.sobre-mim{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sec-container-sobre{
    width: 90%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}
.icons-lateral{
    position: fixed;
    left: 0;
    top: 0;
    width: 8%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index:999;  
    padding-top: 150px; 
}
.icons-lateral ion-icon{
    padding: 30px 15px;
    font-size: 2rem;
    color:#fff;    
    transition:0.5s ease;
}
.icons-lateral ion-icon:hover{
    color: #fe2070;
}
/* TEXTO SOBRE */
.texto-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: auto;
}
.titulo-h2-sobre{
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 3px 3px 0px #000;
    letter-spacing: 3px;
    margin-top: 50px;
}
.sobre-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;   
}
.img-sobre{
    width: 150%;
}
/* HABILIDADES */
.secao-habilidades{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.containe-grupo-hab{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    background: transparent; 
    margin-bottom: 40px;
}
.containe-grupo-hab .card{   
    position: relative;
    align-items: center;
    cursor: pointer;
    margin: 15px;  
    overflow: hidden;
}
.containe-grupo-hab .card .face{
    width:300px ;
    height:250px;
    border-radius: 5px;
    transition: 0.5s;   
}
.containe-grupo-hab .card .face-img{
    position: relative;
    background: #363433; 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transform: translateY(130px);
}
.containe-grupo-hab .card .face-img img{
    width: 100px;
    height: 100px;
    margin: 0 5%;
}
.containe-grupo-hab .card:hover .face-img{
    background: #f49621; 
    transform: translateY(0);
}
.containe-grupo-hab .card .face-img .content{
    opacity: 0.8;
    transition: 0.5s;
}
.containe-grupo-hab .card:hover .face-img .content{
    opacity: 1;
}
.containe-grupo-hab.card .face-img .content img{
    max-width: 100px;
}
.containe-grupo-hab .card .face-img .content h3{
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}
.containe-grupo-hab .card .face-desc{
    position: relative;
    background: #fff;
    color: #151515;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow:0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-120px);
}
.containe-grupo-hab .card:hover .face.face-desc{
    transform: translateY(0);
}
.containe-grupo-hab .card:hover .face.face-desc a{
    margin: 10px 0;   
    display:inline-block;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    text-decoration: none;
    width: 120px;
    font-weight: 800;
    color:#f49621;
    padding: 5px;
    border:  1px solid #f49621;
    border-radius: 10px;
    transition: 0.4s;
}
.containe-grupo-hab .card:hover .face.face-desc a:hover{
    border-radius: 10px;
    background: #f49621;
    color: #fff;
}/* habilidade */

/* REDES SOCIAIS */
.secao-sociais{
    width: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.d-none{
    display: none;
}
.container-card-carrousel{
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 120px;
}
.cards {
    position: relative;
    height: 500px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;
    bottom:15%;
}
.cards label {
    position: absolute;
    width: 430px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}
.cards .card{
    position: relative;
    height: 100%;
    background-color: #323444;
    border-radius: 10px;
    padding: 10px 25px;
}
.card .image{
    display: flex;
    width: 95%;
    justify-content: space-between;
}
.card .image img{
    border-radius: 5px;
    box-shadow: 15px 15px 40px rgba(0, 0, 0, 50%);
    margin-top: 23px;
    width:95%;
    height: 220px;
    object-fit:cover;
    transition: all .7s;
}
.card .image img:hover{
    transform: scale(1.05);
}
.card .image .dots{
    text-align: center;
}
/*bullet*/
.dots div{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.dots div:nth-child(1){
    background-color:#fec733;
}
.dots div:nth-child(2){
    background-color: #5B85F9;
}
.dots div:nth-child(3){
    background-color: #fe2070;
}
/*Informações*/
.card .infos{
    display: block;
    text-align: center;
    padding-top: 60px;
}
.infos span{
    display: block;
}
.infos .name{
    font-size: 25px;
    color:#fec733;
    letter-spacing: 8px;
    margin-bottom: 20px;
    transition: all .6s ease;
}
.infos .lorem{
    font-size: 15.5px;
    color: #ECEAED;
    letter-spacing: 3px;
}
.card .btn-contact{
    width: 100%;
    height: 60px;
    margin: 35px auto;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #fec733 , #fe2070);
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
    text-shadow: 3px 3px 0px #000; 
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 700;
    transition: all .7s ease;
}
.card .btn-contact:hover{
    transform: scale(1.09);
}
.sociais{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.sociais ion-icon{
    font-size: 30px;
    transition: all .7s ease;
    color: #ECEAED;
    margin: 15px;
}
.sociais ion-icon:hover{
    transform: scale(1.1);
    color: #fec733;  
}
/*Interação dos cards*/
#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-70%, 0, -210px);   
    background: #ECEAED;
    color: #404457; 
}
#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(-35%, 0, -110px);
    background: #ECEAED;
    color: #404457;
}
#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);    
    background:#fe2070;
    color: #404457;  
}
#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(35%, 0, -110px);  
    background: #ECEAED;
    color: #404457;
}
#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    box-shadow: 0 15px 35px 0 rgba(0, 0, 0, 45%);
    transform: translate3d(70%, 0, -210px);   
    background: #ECEAED;
    color: #404457;
}
/* CONTATOS */
.contato{
    display: flex;
    flex-direction: column;    
    display: flex;
    align-items: start;
    justify-content: start;
    padding: 10px;
    margin-right: 30%;
}
.titulo-secao .titulo-h2 .c{
    font-size: 3rem;
    color: #fe2070;
}
.img-cont{
  padding-left: 150px;
}
.cont-h2{
    color:#fff;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 3px 3px 0px #000; 
}
/*contatos icons*/
.contatos .linha{
    width: 300px;
    height: 3px;
    background: rgba(255, 255, 255, 0.494);
    margin-top: 10px;
    margin-bottom: 10px;
}
.contatos ion-icon{
    color: #fff;
    font-size: 2rem;
    padding: 20px 0;
}
.contatos span{
    color: #fff;
    font-size: 1.5rem;
    padding: 5px 0;
}
/* FOOTER */
footer{
    border-top: 5px solid #fe2070;
    background: #151515;
    width: 100%;
    padding: 30px;
    display: flex;
    align-self: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 1.3rem;
}
/* SCROLLUP */
.scrollup-btn{
    position: fixed;
    bottom:1rem;
    right:  1rem;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;    
    border-radius:4px ;
    color: #fff;
    justify-content: center;
    cursor: pointer;
    background:#fe2070;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    z-index: 999;
}
.arrow{
    color: #fff;
    z-index: 1000;
    opacity: 0.9;
    transition: 0.3s;
}
.scrollup-btn:hover{
    bottom:3rem;
}
.arrow:hover{
    opacity: 1;
}





